.recommended-friends {
  margin: 20px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 14px;
  opacity: 0.8;
}

.recommended-friends span {
  display: block;
  font-size: 18px;
  color: var(--gray);
  margin: 110px 0;
  text-align: center;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.6;
  margin-bottom: 25px;
}

.open-chat__header span {
  color: var(--gray);
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.open-post__divider {
  opacity: 0.2;
}
.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 40%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}
.open-post__members .divider {
  width: 1.5px;
  height: 15px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.open-post__member-status {
  color: #ff66c4;
}

.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 14px;
}
.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
    color: tomato;
  }
  20% {
    transform: scale(1.5);
    color: red;
  }
  40% {
    transform: scale(0.75);
    color: tomato;
  }
  60% {
    transform: scale(1.5);
    color: red;
  }
  80% {
    transform: scale(0.75);
    color: tomato;
  }
  100% {
    transform: scale(0.75);
    color: tomato;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartbeat 0.7s infinite;
}
