.badge {
  background-color: #ff6229;
  width: 25px;
  height: 25px;
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge_dot {
  background-color: #ff6229;
  width: 5px;
  height: 5px;
  border-radius: 3px;
}

.badge_dot_big {
  background-color: #ff6229;
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
}
